body {
  background-color: black;
  font-family: "Monaco", "Courier New", monospace;
  text-align: center;
  padding-top: 50px;
}

a:link {
  color: orange;
}
a:visited {
    color: red;
}
a:hover {
  color: w3-food-lime;
}
a:active {
  color: w3-food-kiwi;
}
